body {
    background-color: rgb(140, 140, 245);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 1100px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(2, 2, 2);

}

div {
    text-align: center;
    font: normal 20pt Arial;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}